extends ../shared/template

block content
  a#make-guess(href='#') Make Guess
  #pano
    #map-canvas

  #dialog
    #map-modal
    .progress
    .distance
    .points

  #game-over
    #map-game
    #user
    if(user)
      h4= user.email
      #username(data-username= '#{user.username}' )
      button#save-game Save Game
    if(!user)
      button#show-login Login
      button#show-register Register
      form#login-form
        input.input(type='email', name='email', placeHolder='Email')
        input.input(type='password', name='password', placeHolder='Password')
        button#login Submit
      form#register-form
        input.input(type='email', name='email', placeHolder='Email')
        input.input(type='text', name='username', placeHolder='Username')
        input.input(type='password', name='password', placeHolder='Password')
        button#register Submit
    .progress
    .distance
    .points


block scripts
  script(src='/js/es6/compiled/main.js')
