extends ../shared/template

block content
  #map-canvas
  #pano

  a#make-guess(href='#') Make Guess

  #dialog
    #map-modal
    .distance
    .points

  #game-over
    #map-game
    #user
    if(user)
      h4= user.email
      #username(data-username= '#{user.username}' )
      button#save-game Save Game
    if(!user)
      form#login-form
        input(type='email', name='email', placeHolder='Email')
        input(type='password', name='password', placeHolder='Password')
        button#login Login
      form#register-form
        input(type='email', name='email', placeHolder='Email')
        input(type='text', name='username', placeHolder='Username')
        input(type='password', name='password', placeHolder='Password')
        button#register Register
    .distance
    .points


block scripts
  script(src='/js/es6/compiled/main.js')
