html, body {
  height: 100%;
  background-color: #ffc869;
}
.container {
  background-color: #ffc869;
}

#template-nav {
  background-color: rgba(190, 188, 188, 0.6);
  text-align: center;
}

#template-nav > a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

#home-nav {
  background-color: rgba(190, 188, 188, 0.6);
  text-align: center;
}

.nav > a {
  text-decoration: none;
  color: black;
}

.nav {
  margin-top: 20px;

}

#logout{
  color: blue;
}

.glyphicon {
  margin-right: 5px;
}
#map-canvas {
  height: 300px;
  width: 400px;
  z-index: 2;
  opacity: 0.5;
}

#make-guess {
  color: black;
}

#new-map, #favsMap {
  width: 100%;
  height: 100%;
}

.games, .user-maps {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
}

.games > .user {
  text-decoration: none;
  color: black;
}

#create-container {
  margin-left: 40%;
  width: 300px;
}

#save-map, #map-title{
  text-align: center;
  width: 300px;
}


.progress.progress-striped {
  width: 50%;
  margin-left: 25%;
}

.results {
  text-align: center;
}

.favorites {
  float: left;
}

#loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#map-canvas:hover {
  opacity: 1;
}

.leader-maps,  .maps{
  height: 300px;
  width: 350px;
}

.my-maps{
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

#pan {
  width: 400px;
  height: 400px;
}

#pano {
top: 8px;
width: 100%;
height: 100%;
}

#map-modal, #map-game {
  height: 400px;
  width: 100%;
}

#progress {
  height: 30px;
  width: 200px;
}

#dashboard > a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.nav > img {
  width: 50px;
  height: 50px;
}

.nav {
  // display: inline-block;
}


.ui-dialog { position: absolute;}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
