extends ../shared/template

block content
  h3 ALL GAMES

  each map in maps
    a(href='/maps/#{map._id}')= map.user
    div(class='maps', id='#{map._id}')
    div(class='map-settings', data-center='#{map.center}', data-zoom='#{map.zoom}')

block scripts
  script(src='/js/es6/compiled/usermaps.js')
