extends ../shared/template

block content
  input#map-title(type='text', placeholder='Map Name')
  button#save-map Save Map
  #new-map

  #user(data-username='#{user.username}')

block scripts
  script(src='/js/es6/compiled/createmaps.js')
