extends ../shared/template

block content
  #create-container
    input#map-title(type='text', placeholder='Map Name')
    button#save-map Save Map
    #maps-success
  #new-map

  #user(data-username='#{user.username}', data-userId= '#{user._id}')

block scripts
  script(src='/js/es6/compiled/createmaps.js')
