doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/less/app.css', rel='stylesheet')
    link(href='/css/zebra_dialog.css', rel='stylesheet')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyArPvnhx4BUiKnrYG6cyNX-YZL21LruNAQ&sensor=false')


  body
    |<div id="fb-root"></div>
    |<script>(function(d, s, id) {
    |var js, fjs = d.getElementsByTagName(s)[0];
    |if (d.getElementById(id)) return;
    |js = d.createElement(s); js.id = id;
    |js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1435231173405378&version=v2.0";
    |fjs.parentNode.insertBefore(js, fjs);
    |}(document, 'script', 'facebook-jssdk'));</script>
    .fb-share-button(data-href='lms.richmondwatkins.com', data-type='button_count')


    #dashboard
      if(user)
        h3= user.email
      form(action='/logout', method='POST')
        button#logout Logout

      a(href='/') Home
      a(href='/play') Game
      a(href='/leaderboard') Leaderboard
      if(user)
        a(href='/users/#{user.username}') My Profile
    block content


    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/jquery-ui-1.10.4.custom.js')
    script(src='/js/vendor/zebra_dialog.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/chance.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/users.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
