extends ../shared/template

block content
  button#explore Explore!
  #username(data-username= '#{user.username}' )

  #pano

    img(src='/img/loader.gif')#loader



block scripts
  script(src='/js/es6/compiled/explore.js')
