extends ../shared/template

block content
  button#explore Spin the Globe!
  #globe
  if(user)
    #username(data-username= '#{user.username}' )
  #pano


block scripts
  script(src='/js/es6/compiled/explore.js')
