extends ../shared/template

block content
  #explore
    button.btn.btn-primary#spin Spin the Globe!
  #globe
  if(user)
    #username(data-username= '#{user.username}' )
  #pano
    #map-canvas

block scripts
  script(src='/js/es6/compiled/explore.js')
