doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/less/app.css', rel='stylesheet')
    link(href='/css/zebra_dialog.css', rel='stylesheet')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyArPvnhx4BUiKnrYG6cyNX-YZL21LruNAQ&sensor=false')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')


  body.container
    //- |<div id="fb-root"></div>
    //- |<script>(function(d, s, id) {
    //- |var js, fjs = d.getElementsByTagName(s)[0];
    //- |if (d.getElementById(id)) return;
    //- |js = d.createElement(s); js.id = id;
    //- |js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1435231173405378&version=v2.0";
    //- |fjs.parentNode.insertBefore(js, fjs);
    //- |}(document, 'script', 'facebook-jssdk'));</script>
    //- .fb-share-button(data-href='lms.richmondwatkins.com', data-type='button_count')
  .nav
    img#logo(src='/img/geoexplorer.png')
  .nav
    if(user)
      form#logout(action='/logout', method='POST')
        button#logout Logout

    #home-nav
      if(user)
        h3 Welcome back #{user.username}!
      .nav
        a(href='/explore')
          span.glyphicon.glyphicon-globe
          | Explore
      .nav
        a(href='/play')
          span.glyphicon.glyphicon-map-marker
          | Play
      .nav
        a(href='/leaderboard')
          span.glyphicon.glyphicon-star
          | Leaderboard
      .nav
        a(href='/maps')
          span.glyphicon.glyphicon-move
          |User Created Maps
      .nav
        if(user)
          a(href='/users/#{user.username}')
            span.glyphicon.glyphicon-user
            | My Profile
      .nav
        if(!user)
          a#show-login(href='#')
            span.glyphicon.glyphicon-ok
            | Login
            form#login-home(action='/home/login', method='POST')
              input(type='email', name='email', placeHolder='Email')
              input(type='password', name='password', placeHolder='Password')
              button#submit-login Login
      .nav
        if(!user)
          a#show-registration(href='#')
            span.glyphicon.glyphicon-refresh
            | Register
            form#register-home(action='/home/register', method='POST')
              .inputs
                input(type='email', name='email', placeHolder='Email')
                input(type='text', name='username', placeHolder='Username')
                input(type='password', name='password', placeHolder='Password')
              .explorer
                img(src='/img/amundsen.jpg')
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .explorer
                img(src='/img/columbus.jpg')
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .explorer
                img(src='/img/cortes.jpg' )
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .explorer
                img(src='/img/darwin.jpg')
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .explorer
                img(src='/img/magellan.jpg')
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .explorer
                img(src='/img/marcopolo.jpg')
                input.radio(type='radio', name='explorer', value='/img/amundsen.jpg')
              .input
                button#submit-registration Register

    block content


    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/jquery-ui-1.10.4.custom.js')
    script(src='/js/vendor/zebra_dialog.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/chance.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/navigation.js')
    script(src='/js/es6/compiled/users.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
