extends ../shared/template

block content
  h3 Home
  form#register-home(action='/home/register', method='POST')
    input(type='email', name='email', placeHolder='Email')
    input(type='text', name='username', placeHolder='Username')
    input(type='password', name='password', placeHolder='Password')
    button#submit-registration Register
  form#login-home(action='/home/login', method='POST')
    input(type='email', name='email', placeHolder='Email')
    input(type='password', name='password', placeHolder='Password')
    button#submit-login Login
block scripts
